@font-face {
    font-family: 'Brice-light';
    src: url(/fonts/Brice-Light.otf);
}

@font-face{
    font-family: "Brice-bold";
    src: url(/fonts/Brice-SemiBoldSemiExpanded.otf);
}

@font-face {
    font-family: "Hero-light";
    src: url(/fonts/HeroLight-Light.otf);
}

@font-face{
    font-family: "Brice-regular";
    src: url(/fonts/Brice-Regular.otf);
}


body {
    background-image: url("https://i.pinimg.com/1200x/b2/ca/5a/b2ca5a16ee1ce3afb1eb7f82e4675319.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;


}

h1 {
    color: white;
    text-align: center;
    font-family: "Brice-bold";
    font-size: 60px;
}

h3 {
    color: white;
    text-align: left;
    font-family: "Brice-regular";
    font-size: 20px;
}

table, th,td {
    border: 1px solid darkgray;
}

th {
    background-color: rgb(25, 40, 89);
    color: white;
    width: 100px;
    padding: 8px;
    text-align: center;
    font-family:"Brice-light";
}

td{
    padding: 8px;
    text-align: center;
    background-color: rgb(224, 224, 224);
        font-family:"Hero-light";

}