.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.ms-madi-regular {
  font-family: "Ms Madi", cursive;
  font-weight: 400;
  font-style: normal;
}




body {
    background-color: white;
    background-image: url("https://i.pinimg.com/1200x/fb/f0/90/fbf090dc9c2587aeee9d25318f134949.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.paper-background 
{
    width: 610px ;
    height: 500px ;
    position: fixed;
    right: 900px ;
    top: 160px;
    z-index: 1;
}

.tape {

    transform: rotateY(180deg);
    mix-blend-mode: darken;
    width:200px;
    height: 300px;
    position: fixed;
    right: 1330px;
    top: 100px;
    z-index: 2;
}

.stars{
    transform: rotate(50deg);
    width: 150px;
    height: 150px;
    position: fixed;
    right: 870px;
    top: 500px;
    z-index: 3;
}

.corkboard
{
    transform: rotate(180degs);
    width: 1000px;
    height: 750px;
    position: fixed;
    right: -55px;
    top: 10px;
    z-index: 2;
}

.gilmore-girls 
{
    transform: rotate(10deg);
    width: 200px;
    height: 170px;
    position: fixed;
    right: 160px;
    top: 100px;
    z-index: 5;
}
.himym
{
    width: 200px;
    height: 170px;
    position: fixed;
    right: 310px;
    top: 100px;
    z-index: 6;
}
.friends
{
    transform: rotate(-5deg);
    width: 200px;
    height: 170px;
    position: fixed;
    right: 487px;
    top: 120px;
    z-index: 7
}
.tbbt
{
    transform: rotate(6deg);
    width: 200px;
    height: 170px;
    position: fixed;
    right: 620px;
    top: 100px;
    z-index: 5;
}

.tsotl
{
    transform: rotate(-4deg);
    width: 145px;
    height: 170px;
    position: fixed;
    right: 280px;
    top: 310px;
    z-index: 5;
}

.amelie
{
    width: 145px;
    height: 170px;
    position: fixed;
    right: 390px;
    top: 300px;
    z-index: 4;
}

.rfad
{
    transform: rotate(8deg);
    width: 145px;
    height: 170px;
    position: fixed;
    right: 405px;
    top: 440px;
    z-index: 3;
}

.esotsm
{
    transform: rotate (-2deg);
    width: 145px;
    height: 170px;
    position: fixed;
    right: 280px;
    top: 470px;
    z-index: 4;
}

.musicals
{
    transform: rotate(5deg);
    width: 190px;
    height: 420px;
    position: fixed;
    right: 60px;
    top: 242px;
    z-index: 10;
}

.smiski1
{
    width: 160px;
    height: 170px;
    position: fixed;
    right: 720px;
    top: 553px;
    z-index: 15;
}

.snoopy
{
    width: 250px;
    height: 260px;
    position: fixed;
    left: -50px;
    bottom: -20px;
    z-index: 15;
}

.others
{
    width: 270px;
    height: 310px;
    position: fixed;
    right: 555px;
    top: 295px;
    z-index: 15;
}



.pin
{
    width: 30px;
    height: 40px;
    position: fixed;
    right: 150px;
    top: 100px;
    z-index: 15;
}

.fabric_snoopy
{
    width: 100px;
    height: 110px;
    position: fixed;
    right: 210px;
    top: 583px;
    z-index: 15;
}

.always_sleepy
{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 474px;
    top: 400px;
    z-index: 30;
}

.stamp
{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 745px;
    top: 290px;
    z-index: 100;
}

.personal-header
{
    transform: rotate(5deg);
    width: 350px;
    height: 100px;
    position: fixed;
    right: 900px;
    top: 170px;
    z-index: 100;
}

.likes-header
{
    transform: rotate(6deg);
    width: 400px;
    height: 100px;
    position: fixed;
    right: -86px;
    top: 15px;
    z-index: 100;
}
.header
{
    transform: rotate(-3deg);
    width: 390px;
    height: 200px;
    position: fixed;
    right: 1100px;
    top: -10px;
    z-index: 100;
}


.silverstars
{
    transform: rotate(40deg);
    width: 60px;
    height: 80px;
    position: fixed;
    right: 760px;
    top: 200px;
    z-index: 15;
}

.longestgoodbye
{
    transform: rotate(-5deg);
    width: 330px;
    height: 230px;
    position: fixed;
    right: 800px;
    top: 500px;
    z-index: 15;
}

.bow
{
    width: 350px;
    height: 400px;
    position: fixed;
    right: -74px;
    top: 166px;
    z-index: 16;
}

.musicals_label
{
    width: 160px;
    height: 160px;
    position: fixed;
    right: 82px;
    top: 190px;
    z-index: 15;
}   

.tvshows_label
{
    width: 300px;
    height: 425px;
    position: fixed;
    right: 563px;
    top: -80px;
    z-index: 10;
}
.movies_label
{
    transform: rotate(3deg);
    width: 175px;
    height: 175px;
    position: fixed;
    right: 230px;
    top: 220px;
    z-index: 15;
}

.personal {


    color: black;
    font-size: 25px;
    position: fixed;
    right: 890px;
    top: 300px;
    font-family: "Nanum Pen Script";
    z-index: 4;

    th {
    width: 100px;
    text-align: left;

}

td{
    width: 450px;
    text-align: left;
}
}

.likes
{


    color: black;
    font-size: 16px;
    position: fixed;
    right: 582px;
    top: 355px;
    font-family: "Nanum Pen Script";
    z-index: 20;

    th {
    vertical-align: top;
    width: 60px;
    text-align: left;

}

td{
    width: 100px;
    text-align: left;
}
}

h6
{
    color: black;
    font-size: 30px;
    position: fixed;
    right: 630px;
    top: 250px;
    font-family: "Ms Madi";
    z-index: 21;
}

h5
{
    transform: rotate(5deg);
    color: navy;
    font-size: 40px;
    position: fixed;
    right: 960px;
    top: 130px;
    font-family: "Ms Madi";
    z-index: 101;
}

h2 {
    transform: rotate(5deg);
    color: navy;
    font-size: 40px;
    position: fixed;
    right: 80px;
    top: 10px;
    font-family: "Ms Madi";
    z-index: 1000;
}